
<br>
<a href='/search'>Palaa hakuun</a>

<h1>HAUN TULOKSET</h1>

<div class="hakutulokset">

  {{#if tiedot }}
    
    {{#each tiedot}}
    <div class="hakutulos">
      <p>Nimi: <b>{{nimi}} </b>, tekij채: <b>{{tekija}}</b>, vuosi: {{vuosi}}, ISBN: {{isbn}}, myyntihinta: <b>{{myyntihinta}} euroa</b>, 
        myyv채 divari: <b>{{divarinimi}} </b></p>

      <small>Luokat: 
      {{#each luokat}}
        <b> {{this}} </b>, 
      {{/each}}
      </small>

      <small>Tyypit: 
      {{#each tyypit}}
          <b> {{this}} </b>, 
      {{/each}}
      </small>

  <form method="POST" action='/order'>
      <input type="hidden" id="postId" name="postId" value={{nide_id}} />
      <button type="submit">Lis채채 tilaukseen</button> 
    </form>


    {{/each}}


{{else}}
  <p> <b> Ei tuloksia. Tarkista hakutiedot.</b></p>
{{/if}}

</div>


