
<h2>TILAUS</h2>


<br>
<a href='/search'>Palaa hakuun</a>

<h2>Tilauksen tiedot</h2>

<div class="tilaustiedot">

{{#if tiedot }}
    
    {{#each tiedot}}
    <div class="tilaustulos">
      <p>Nimi: <b>{{nimi}} </b>, tekijä: <b>{{tekija}}</b>, vuosi: {{vuosi}}, ISBN: {{isbn}} </p> 
      <p>Myyntihinta: <b>{{myyntihinta}} euroa</b>, Paino: <b>{{paino}} grammmaa</b>, myyvä divari: <b>{{divarinimi}} </b></p>


  <form method="POST" action='/ordered'>
      <input type="hidden" id="postId" name="postId" value="{{nide_id}}" />
      <button type="submit">Vahvista tilaus</button> 
    </form>


    {{/each}}

{{else if tilausvahvistus}}
  <p> <b>Tilaus onnistui</b></p>
{{else}}
  <p> <b> </b></p>
{{/if}}

</div>

